/* Typography */

html {
        font-family: system-ui, -apple-system, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
	box-sizing: border-box;
	font-size: 12px;
	font-weight: 400;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

aside figure img {
	border-radius: 50%;
	opacity: 0.6;
}

img {
	max-width: 100%;
	height: auto;
}

@media (min-width: 576px) {
	html {
		font-size: 14px;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 18px;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 20px;
	}
}

/* Theme */
:root {
	--background: rgb(1, 36, 86);
	--text: rgb(238, 237, 240);
	--accent: rgb(240, 240, 0);
}

main {
        display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	padding: 0 30px;
	text-align: center;

	background-color: var(--background);
	color: var(--text);
}

section {
	display: none;
}

section.show {
	display: block;
}

main .intro {
        font-family: 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
        font-size: 3.75em;
        font-weight: 700;
}

main .intro .name {
	text-decoration: underline;
	text-decoration-color: var(--accent);
}

main .title {
	font-size: 2.5rem;
	margin: 1.5rem 0;
	font-weight: 300;
}

main .title::before {
	color: var(--accent);
	content: "[ ";
}

main .title::after {
	color: var(--accent);
	content: " ]";
}

main .tagline {
	font-size: 1.5rem;
	margin: 1.5rem 0;
	font-weight: 100;
}

main .tagline .spacer {
	color: var(--accent);
}

a {
        text-decoration: none;
}

.icons-social a {
        display: inline-flex;
        flex-direction: column;
        color: var(--text);
        max-width: 100px;
        padding: 20px;
}

.icons-social a:hover,
.icons-social a:focus {
        transition: color 1s ease;
        color: var(--accent);
}

.badges a {
	margin-bottom: 1.5rem;
}

.badges.networks {
	margin-top: 20px;
}

.badges.networks img {
	max-height: 58px;
}

.certs a img {
	border-radius: 10px;
}