/* Typography */
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans|Source+Sans+Pro:400,700&display=swap');

html {
	font-family: 'Source Sans Pro', sans-serif;
	font-display: swap;
	box-sizing: border-box;
	font-size: 12px;
	font-weight: 400;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

img {
	max-width: 100%;
	height: auto;
}

@media (min-width: 576px) {
	html {
		font-size: 14px;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 18px;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 20px;
	}
}

/* Theme */
:root {
	--background: rgb(1, 36, 86);
	--text: rgb(238, 237, 240);
	--accent: rgb(240, 240, 0);
}

.icons-social i {
	font-size: 3em;
}

main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	padding: 0 30px;
	text-align: center;

	background-color: var(--background);
	color: var(--text);
}

section {
	display: none;
}

section.show {
	display: block;
}

main .intro {
	font-family: 'Merriweather Sans', sans-serif;
	font-display: swap;
	font-size: 3.75em;
	font-weight: 700;
}

main .intro .name {
	text-decoration: underline;
	text-decoration-color: var(--accent);
}

main .tagline {
	font-size: 1.5rem;
	margin: 1.5rem 0;
	font-weight: 100;
}

main .tagline .spacer {
	color: var(--accent);
}

.icons-social i {
	padding: 20px;
}

.icons-social a {
	display: inline-flex;
	flex-direction: column;
	color: transparent;
	text-decoration: none;
}

.icons-social a i {
	color: var(--text);
}

.icons-social a:hover,
.icons-social a:hover i,
.icons-social a:focus,
.icons-social a:focus i {
	transition: color 1s ease;
	color: var(--accent);
}

.icons-social a svg path {
	fill: var(--text);
}
